body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  line-height: 1.6;
  color: #636b6f;
  background-color: #FFF9EB;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
p {
  padding: 0;
  margin: 0;
}
.top {
  height: 667px;
  position: relative;
}
.top .top__main-figure {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 25%;
}
/*
* EventPage
*/
#event-form h1 {
  font-size: 12px;
  text-align: center;
}
.event-list__item {
  height: 100px;
}
.event-item-container {
  clear: both;
  overflow: hidden;
}
.event-item-container .event-item-thumb {
  width: 88px;
  height: 88px;
  float: left;
}
.event-item-container .event-item-main {
  padding-left: 10px;
  float: left;
}
.event-item-container .event-item-main .event-item-main__header {
  clear: both;
  overflow: hidden;
}
.event-item-container .event-item-main .event-item-main__header .event-item-main__title {
  width: 210px;
  line-height: 1.2em;
  font-size: larger;
  font-weight: bold;
  float: left;
}
.event-item-container .event-item-main .event-item-main__header .event-item-main__title small {
  font-weight: normal;
}
.event-item-container .event-item-main .event-item-main__header .event-item-main__icon {
  width: 50px;
  height: 50px;
  float: right;
}
.event-item-container .event-item-main .event-item-main__footer {
  font-size: smaller;
  text-align: right;
}
.event-form {
  width: 320px;
  height: 30px;
  display: table;
  border-bottom: 1px solid #004B6D;
}
.event-form .event-form__title {
  display: table-cell;
}
.event-form .event-form__input {
  display: table-cell;
}
.event-form .event-form__input input {
  width: 100%;
  background-color: transparent;
  border: none;
}
.event-detail .event-detail__header {
  padding-bottom: 15px;
}
.event-detail .event-detail__header .event-detail__title {
  font-size: 18px;
  text-align: center;
}
.event-detail .event-detail__header .event-detail__notes {
  font-size: smaller;
  text-align: right;
}
.event-detail .event-detail__body {
  padding: 15px 0;
}
.event-detail .event-detail__body .event-detail__schedule {
  padding: 0 30px;
  margin: 10px 0;
}
.event-detail .event-detail__body .event-detail__suppliers {
  padding: 0 30px;
  margin: 10px 0;
}
.event-detail .event-detail__body .event-detail__parties {
  padding: 0 30px;
  margin: 10px 0;
}
.event-detail .event-detail__body .event-detail__message {
  padding: 0 30px;
  margin: 10px 0;
}
.event-detail .event-detail__body .event-detail__picture {
  margin-top: 30px;
}
.event-detail .event-detail__footer {
  padding-top: 15px;
  padding-bottom: 15px;
}
/*
* TraderPage
*/
.trader-item-container {
  clear: both;
  overflow: hidden;
}
.trader-item-container .trader-item-title {
  float: left;
  width: 240px;
  padding: 20px;
}
.trader-item-container .trader-item-rank {
  float: left;
  width: 50px;
  padding: 20px 5px;
  display: table;
}
.trader-item-container .trader-item-rank .trader-item-rank__fav {
  font-size: 18px;
  color: #FF4081;
  display: table-cell;
  text-align: center;
}
.trader-item-container .trader-item-rank .trader-item-rank__score {
  display: table-cell;
  text-align: center;
}
.trader-item-container .trader-item-icon {
  float: right;
  padding: 5px;
  width: 60px;
}
.trader-detail .trader-detail__header--top {
  height: 60px;
  position: relative;
}
.trader-detail .trader-detail__mv {
  position: absolute;
  width: 100%;
  height: 120px;
  text-align: center;
}
.trader-detail .trader-detail__header--bottom {
  background: white;
  height: 90px;
}
.trader-detail table.trader-detail__rank {
  width: 100%;
  background: white;
  padding: 15px 90px 15px 15px;
  text-align: center;
}
.trader-detail table.trader-detail__rank th {
  font-size: 18px;
  color: #FF4081;
}
.trader-detail table.trader-detail__rank td {
  font-size: smaller;
}
.trader-detail .trader-detail__body {
  background: white;
  width: 100%;
  padding: 15px;
  display: table;
}
.trader-detail .trader-detail__body h2 {
  font-size: 18px;
  text-align: center;
}
.trader-detail .trader-detail__body dl.trader-detail__content {
  display: table-row;
}
.trader-detail .trader-detail__body dl.trader-detail__content dt {
  padding: 10px 5px;
  display: table-cell;
}
.trader-detail .trader-detail__body dl.trader-detail__content dd {
  padding: 10px 5px;
  display: table-cell;
}
/*
* Modules
*/
.c-list .c-list__item {
  background: white;
  display: block;
  padding: 10px;
  margin-bottom: 10px;
}
.c-btn-area__large {
  width: 100%;
  text-align: center;
}
.c-btn {
  border: 1px solid #2377D9;
  border-radius: 5px;
  padding: 16px 0;
  margin: 15px;
}
.c-btn--large {
  width: 270px;
  height: 50px;
}
.c-btn--small {
  width: 150px;
  height: 50px;
}
.c-btn--blue {
  background-color: #2377D9;
  color: white;
}
.c-btn--white {
  background-color: white;
  color: #2377D9;
}
