body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  line-height: 1.6;
  color: #636b6f;
  background-color: #FFF9EB;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
p {
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
}
.top {
  height: 667px;
  position: relative;
}
.top .top__main-figure {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 25%;
}
/*
* EventPage
*/
#event-form h1 {
  font-size: 12px;
  text-align: center;
}
.event-list__item {
  height: 100px;
}
.event-item-container {
  clear: both;
  overflow: hidden;
}
.event-item-container .event-item-thumb {
  width: 88px;
  height: 88px;
  float: left;
}
.event-item-container .event-item-main {
  padding-left: 10px;
  float: left;
}
.event-item-container .event-item-main .event-item-main__header {
  clear: both;
  overflow: hidden;
}
.event-item-container .event-item-main .event-item-main__header .event-item-main__title {
  width: 210px;
  line-height: 1.2em;
  font-size: larger;
  font-weight: bold;
  float: left;
  word-break: break-all;
}
.event-item-container .event-item-main .event-item-main__header .event-item-main__title small {
  font-weight: normal;
}
.event-item-container .event-item-main .event-item-main__header .event-item-main__icon {
  width: 50px;
  height: 50px;
  float: right;
}
.event-item-container .event-item-main .event-item-main__footer {
  font-size: smaller;
  text-align: right;
}
.event-form {
  width: 320px;
  height: 30px;
  display: table;
  border-bottom: 1px solid #004B6D;
}
.event-form .event-form__title {
  display: table-cell;
}
.event-form .event-form__input {
  display: table-cell;
}
.event-form .event-form__input input {
  width: 100%;
  background-color: transparent;
  border: none;
}
.event-detail .event-detail__header {
  padding-bottom: 15px;
}
.event-detail .event-detail__header .event-detail__title {
  font-size: 18px;
  text-align: center;
}
.event-detail .event-detail__header .event-detail__notes {
  font-size: smaller;
  text-align: right;
}
.event-detail .event-detail__body {
  padding: 15px 0;
}
.event-detail .event-detail__body .event-detail__schedule {
  padding: 0 30px;
  margin: 10px 0;
}
.event-detail .event-detail__body .event-detail__suppliers {
  padding: 0 30px;
  margin: 10px 0;
}
.event-detail .event-detail__body .event-detail__parties {
  padding: 0 30px;
  margin: 10px 0;
}
.event-detail .event-detail__body .event-detail__message {
  padding: 0 30px;
  margin: 10px 0;
}
.event-detail .event-detail__body .event-detail__picture {
  margin-top: 30px;
}
.event-detail .event-detail__footer {
  padding-top: 15px;
  padding-bottom: 15px;
}
.event-message .event-message__item {
  margin-bottom: 10px;
  clear: both;
  overflow: hidden;
}
.event-message .event-message__body--you {
  width: 290px;
  margin-bottom: 30px;
  float: left;
  word-break: break-all;
}
.event-message .event-message__body--me {
  width: 290px;
  margin-bottom: 30px;
  margin-left: 50px;
  word-break: break-all;
}
.event-message .event-message__thumb {
  width: 50px;
  height: 50px;
  float: left;
}
.event-review .event-review__introduction {
  text-align: center;
  margin-bottom: 20px;
}
.event-review .event-review__notes {
  margin-bottom: 15px;
}
.event-review table.event-review__rank {
  width: 100%;
  margin-bottom: 15px;
}
.event-review table.event-review__rank th {
  text-align: center;
}
.event-review table.event-review__rank td {
  text-align: center;
}
.event-review .event-review__submit {
  text-align: center;
  padding-bottom: 40px;
  border-bottom: 1px solid grey;
}
.event-review .event-review__header .event-review__title {
  font-size: 18px;
  text-align: center;
}
.event-review .event-review__header .event-review__notes {
  text-align: right;
}
.event-review .event-review__body .event-review__schedule {
  font-size: larger;
  font-weight: bold;
  margin-bottom: 15px;
}
.event-review .event-review__body .event-review__suppliers {
  margin-bottom: 15px;
}
.event-review .event-review__body .event-review__parties {
  margin-bottom: 15px;
}
.event-review .event-review__body .event-review__message {
  margin-bottom: 15px;
}
/*
* TraderPage
*/
.trader-item-container {
  clear: both;
  overflow: hidden;
}
.trader-item-container .trader-item-title {
  float: left;
  width: 240px;
  padding: 20px;
}
.trader-item-container .trader-item-rank {
  float: left;
  width: 50px;
  padding: 20px 5px;
  display: table;
}
.trader-item-container .trader-item-rank .trader-item-rank__fav {
  font-size: 18px;
  color: #FF4081;
  display: table-cell;
  text-align: center;
}
.trader-item-container .trader-item-rank .trader-item-rank__score {
  display: table-cell;
  text-align: center;
}
.trader-item-container .trader-item-icon {
  float: right;
  padding: 5px;
  width: 60px;
}
.trader-detail .trader-detail__header--top {
  height: 60px;
  position: relative;
}
.trader-detail .trader-detail__mv {
  position: absolute;
  width: 100%;
  height: 120px;
  text-align: center;
}
.trader-detail .trader-detail__header--bottom {
  background: white;
  height: 90px;
}
.trader-detail table.trader-detail__rank {
  width: 100%;
  background: white;
  padding: 15px 90px 15px 15px;
  text-align: center;
}
.trader-detail table.trader-detail__rank th {
  font-size: 18px;
  color: #FF4081;
}
.trader-detail table.trader-detail__rank td {
  font-size: smaller;
}
.trader-detail .trader-detail__body {
  background: white;
  width: 100%;
  padding: 15px;
  display: table;
}
.trader-detail .trader-detail__body h2 {
  font-size: 18px;
  text-align: center;
}
.trader-detail .trader-detail__body dl.trader-detail__content {
  display: table-row;
}
.trader-detail .trader-detail__body dl.trader-detail__content dt {
  padding: 10px 5px;
  display: table-cell;
}
.trader-detail .trader-detail__body dl.trader-detail__content dd {
  padding: 10px 5px;
  display: table-cell;
}
/*
* UsersPage
*/
.users-list .users-list__item {
  margin-left: -15px;
  margin-right: -15px;
}
.users-item-container {
  clear: both;
  overflow: hidden;
}
.users-item-container .users-item-main {
  float: left;
  width: 240px;
}
.users-item-container .users-item-title {
  font-size: 17px;
  padding: 5px 0px;
}
.users-item-container .users-item-icon {
  float: right;
  width: 60px;
}
.users-invite_form .users-invite_form__introduction {
  position: relative;
  height: 240px;
}
.users-invite_form .users-invite_form__text {
  position: absolute;
  text-align: center;
  top: 25%;
  bottom: 25%;
  left: 25%;
  right: 25%;
}
.users-invite_form .users-invite_form__form {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 30px;
}
.users-invite_form .users-invite_form__form input {
  width: 100%;
  padding: 20px 25%;
  font-size: 40px;
  text-align: center;
  border: 8px solid darkgrey;
  border-radius: 5px;
}
.users-invite_form .users-invite_form__submit {
  text-align: center;
}
/*
* ApartmentsPage
*/
.apartments-list .apartments-list__item {
  clear: both;
  overflow: hidden;
}
.apartments-list .apartments-list__item .apartments-item-num {
  float: left;
}
.apartments-list .apartments-list__item .apartments-item-batch {
  width: 30px;
  text-align: center;
  color: white;
  background: #2377D9;
  border: 5px solid #2377D9;
  border-radius: 15px;
  margin-top: 10px;
}
.apartments-list .apartments-list__item .apartments-item-title {
  float: left;
  padding-left: 15px;
}
.apartments-list .apartments-list__item .apartments-item-icon {
  float: right;
  margin-top: 5px;
}
.apartments-list .apartments-list__item .apartments-item-rank {
  float: left;
  width: 50px;
  padding: 20px 5px;
  display: table;
}
.apartments-list .apartments-list__item .apartments-item-rank__fav {
  font-size: 18px;
  color: #FF4081;
  display: table-cell;
  text-align: center;
}
.apartments-list .apartments-list__item .apartments-item-rank__score {
  display: table-cell;
  text-align: center;
}
/*
* AccountsPage
*/
.accounts-nav {
  display: table;
  background: white;
  width: 100%;
}
.accounts-nav__item {
  display: table-cell;
}
.accounts-list__item {
  clear: both;
  overflow: hidden;
}
.accounts-list__item .accounts-item-date {
  width: 100px;
  float: left;
}
.accounts-list__item .accounts-item-status {
  width: 100px;
  float: left;
}
.accounts-list__item .accounts-item-amount {
  width: 100%;
  background: white;
  float: left;
}
.accounts-list__item .accounts-nav__item--active {
  background: white;
}
.accounts-list__item .accounts-nav__item--inactive {
  background: white;
}
/*
* ContactPage
*/
.contact_form .contact_form__introduction {
  position: relative;
  height: 120px;
}
.contact_form .contact_form__text {
  position: absolute;
  text-align: center;
  top: 25%;
  bottom: 25%;
  left: 25%;
  right: 25%;
}
.contact_form .contact_form__form {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 30px;
}
.contact_form .contact_form__form input {
  width: 100%;
  padding: 20px 25%;
  font-size: 40px;
  text-align: center;
  border: 8px solid darkgrey;
  border-radius: 5px;
}
.contact_form .contact_form__submit {
  text-align: center;
}
/*
* Modules
*/
.c-list .c-list__item {
  background: white;
  display: block;
  padding: 10px;
  margin-bottom: 10px;
}
.c-btn-area__large {
  width: 100%;
  text-align: center;
}
.c-btn {
  border: 1px solid #2377D9;
  border-radius: 5px;
  padding: 16px 0;
  margin: 15px;
  text-align: center;
}
.c-btn--large {
  width: 270px;
  height: 50px;
}
.c-btn--small {
  width: 150px;
  height: 50px;
}
.c-btn--xsmall {
  width: 60px;
  padding: 0 5px;
  margin: 0;
  font-size: smaller;
}
.c-btn--blue {
  background-color: #2377D9;
  color: white;
}
.c-btn--orange {
  background-color: #FFB100;
  border-color: #FFB100;
  color: white;
}
.c-btn--white {
  background-color: white;
  color: #2377D9;
}
.c-btn--darkblue {
  background-color: #004C6E;
  border-color: #004C6E;
  color: white;
}
/* 吹き出し本体 */
.c-balloon--container {
  position: relative;
  width: 0px;
  height: 0px;
}
.c-balloon--you {
  position: relative;
  padding: 20px;
  background-color: darkgrey;
  color: #ffffff;
  border-radius: 10px;
}
/* 色付きの半円 */
.c-balloon__parts--you::before {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
  left: 0px;
  top: -10px;
  border-left: 20px solid darkgray;
  border-top: 20px solid darkgray;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
/* 白い半円 */
.c-balloon__parts--you::after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
  left: -15px;
  top: 0px;
  border-left: 20px solid #FFF9EB;
  border-top: 20px solid #FFF9EB;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
/* 吹き出し本体 */
.c-balloon--me {
  position: relative;
  padding: 20px;
  background-color: #2377D9;
  color: #ffffff;
  border-radius: 10px;
}
/* 色付きの半円 */
.c-balloon__parts--me::before {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
  left: 230px;
  top: -10px;
  border-left: 20px solid #2377D9;
  border-top: 20px solid #2377D9;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
/* 白い半円 */
.c-balloon__parts--me::after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
  left: 245px;
  top: 0px;
  border-left: 20px solid #FFF9EB;
  border-top: 20px solid #FFF9EB;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
.c-input--large {
  width: 100%;
  padding: 20px 25%;
  font-size: 40px;
  text-align: center;
  border: 8px solid darkgrey;
  border-radius: 5px;
}
/* Radio css */
/*css c-radio*/
.c-radio-input {
  display: none;
}
.c-radio-input + label {
  padding-left: 10px;
  position: relative;
  margin-right: 20px;
}
.c-radio-input + label::before {
  content: "";
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  border: 1px solid #999;
  border-radius: 50%;
}
.c-radio-input:checked + label {
  color: #009a9a;
}
.c-radio-input:checked + label::after {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 13px;
  width: 9px;
  height: 9px;
  background: #FF5800;
  border-radius: 50%;
}
.c-input {
  width: 100%;
  padding: 20px 25%;
  font-size: 40px;
  text-align: center;
  border: 8px solid darkgrey;
  border-radius: 5px;
}
.c-textarea {
  width: 100%;
  padding: 20px 25%;
  font-size: 40px;
  text-align: center;
  border: 8px solid darkgrey;
  border-radius: 5px;
}
