body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  line-height: 1.6;
  color: #636b6f;
  background-color: #FFF9EB;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
p {
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
}
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}
input[type="file"] {
  display: none;
}
input:focus::-webkit-input-placeholder,
isindex:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent !important;
}
img {
  max-width: 100%;
}
.top {
  height: 667px;
  position: relative;
}
.top .top__main-figure {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 25%;
}
/*
* GNav
*/
nav.navbar {
  margin-bottom: 0px;
}
nav.navbar-static-top {
  position: fixed;
  width: 100%;
}
nav.navbar-static-bottom {
  position: fixed;
  bottom: 0px;
  width: 100%;
}
nav.navbar {
  background: black;
}
.navbar-header .navbar-brand {
  width: 70%;
  text-align: center;
  float: left;
  padding: 14px 0px;
  font-size: 18px;
  line-height: 22px;
  height: 50px;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
}
.navbar-header .navbar-left {
  width: 15%;
  float: left;
  text-align: center;
  padding: 6px 0px;
  font-size: 18px;
  line-height: 22px;
  height: 50px;
  color: white;
}
.navbar-header .navbar-left small {
  font-size: 60%;
}
.navbar-header .navbar-right {
  width: 15%;
  float: right;
  text-align: center;
  padding: 6px 0px;
  font-size: 18px;
  line-height: 22px;
  height: 50px;
  color: white;
}
.navbar-header .navbar-right small {
  font-size: 60%;
}
.globalheaderbar-header .globalheaderbar-left {
  width: 15%;
  line-height: 38px;
}
.globalheaderbar-header .globalheaderbar-right {
  width: 15%;
}
.tradersheaderbar-header .tradersheaderbar-left {
  width: 15%;
  line-height: 38px;
}
.tradersheaderbar-header .tradersheaderbar-right {
  width: 15%;
}
.apartmentheaderbar-header .apartmentheaderbar-left {
  width: 15%;
  line-height: 38px;
}
.apartmentheaderbar-header .apartmentheaderbar-right {
  width: 15%;
}
.accountsheaderbar-header .accountsheaderbar-left {
  width: 15%;
  line-height: 38px;
}
.accountsheaderbar-header .accountsheaderbar-right {
  width: 15%;
}
.navbar-footer {
  margin-right: -15px;
  margin-left: -15px;
  padding-top: 5px;
  color: white;
  font-size: 85%;
}
.navbar-footer .navbar-footer__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  list-style: none;
}
.navbar-footer .navbar-footer__list .navbar-footer__tab {
  width: calc(33.33333333%);
  text-align: center;
  border-bottom: 5px solid black;
}
.navbar-footer .navbar-footer__list .navbar-footer__tab--active {
  border-bottom: 5px solid white;
}
.navbar-footer .navbar-footer__list .navbar-footer__tab--active li {
  position: relative;
}
.navbar-footer .navbar-footer__list .navbar-footer__tab--active li:after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 8px solid white;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid transparent;
  right: 5px;
  top: 25%;
  bottom: 25%;
}
.navbar-footer .navbar-footer__list a:hover,
.navbar-footer .navbar-footer__list a:focus {
  color: inherit;
  text-decoration: none;
}
.navbar-emergencycontact {
  width: 100%;
}
.navbar-accountscomplete {
  width: 100%;
}
.container {
  word-wrap: break-word;
}
#container {
  padding-top: 90px;
  padding-bottom: 90px;
}
#container-menu {
  padding-top: 10px;
  padding-bottom: 90px;
}
/*
* Menu
*/
.menu-header {
  display: table;
  width: 100%;
  background: white;
  padding: 0px 10px;
  clear: both;
  overflow: hidden;
}
.menu-header .menu-header__thumb {
  display: table-cell;
  width: 15%;
}
.menu-header .menu-header__title {
  display: table-cell;
}
.menu-list__title {
  font-size: 17px;
  color: #004C6E;
}
.menu-list {
  margin-left: -5px;
  margin-right: -5px;
  background: white;
}
.menu-list .menu-list__item {
  margin-left: 15px;
  margin-right: 15px;
}
.menu-list .c-list__item.menu-list__item {
  margin-bottom: 0px;
}
.menu-list a:not(:last-child) .menu-list__item {
  border-bottom: 1px solid #686868;
}
.menu-list:last-of-type {
  margin-top: 30px;
}
/*
* EventPage
*/
#event-form h1 {
  font-size: 12px;
  text-align: center;
}
.event-list__item {
  height: 100px;
}
.event-list__item--done {
  background: lightgray !important;
}
.event-item-container {
  clear: both;
  overflow: hidden;
}
.event-item-container .event-item-thumb {
  width: 60px;
  height: 88px;
  float: left;
}
.event-item-container .event-item-main {
  width: 77%;
  padding-left: 10px;
  float: left;
}
.event-item-container .event-item-main .event-item-main__header {
  clear: both;
  overflow: hidden;
}
.event-item-container .event-item-main .event-item-main__header .event-item-main__title {
  width: 77%;
  line-height: 1.2em;
  font-size: larger;
  font-weight: bold;
  float: left;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
}
.event-item-container .event-item-main .event-item-main__header .event-item-main__title small {
  font-weight: normal;
}
.event-item-container .event-item-main .event-item-main__header .event-item-main__icon {
  width: 40px;
  height: 40px;
  text-align: center;
  float: right;
}
.event-item-container .event-item-main .event-item-main__footer {
  font-size: smaller;
  text-align: right;
}
.event-form dd {
  border-bottom: 1px solid #818181;
  margin-left: 30px;
  padding: 5px 10px;
}
.event-form dd input:not([type=checkbox]):not([type=radio]) {
  background: transparent;
  border: none;
}
.event-form dd input::-webkit-input-placeholder {
  color: #bcbcbc;
}
.event-form dd input:-ms-input-placeholder {
  color: #bcbcbc;
}
.event-form dd input::-moz-placeholder {
  color: #bcbcbc;
}
.event-form .event-form__input input {
  width: 100%;
  background-color: transparent;
  border: none;
}
.event-detail .event-detail__header {
  padding-bottom: 15px;
}
.event-detail .event-detail__header .event-detail__title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.event-detail .event-detail__header .event-detail__notes {
  font-size: smaller;
  text-align: right;
}
.event-detail .event-detail__body {
  padding: 15px 0;
  word-wrap: break-word;
}
.event-detail .event-detail__body .event-detail__schedule {
  font-weight: bold;
  padding: 0 30px;
  margin: 10px 0;
}
.event-detail .event-detail__body .event-detail__suppliers {
  padding: 0 30px;
  margin: 10px 0;
}
.event-detail .event-detail__body .event-detail__parties {
  padding: 0 30px;
  margin: 10px 0;
}
.event-detail .event-detail__body .event-detail__message {
  padding: 0 30px;
  margin: 10px 0;
}
.event-detail .event-detail__body .event-detail__picture {
  margin-top: 30px;
}
.event-detail .event-detail__footer {
  padding-top: 15px;
  padding-bottom: 15px;
}
.event-message .event-message__item {
  margin-bottom: 10px;
  clear: both;
  overflow: hidden;
}
.event-message .event-message__body--you {
  width: 80%;
  margin-bottom: 30px;
  float: left;
  word-break: break-all;
}
.event-message .event-message__body--me {
  width: 80%;
  float: right;
  margin-bottom: 30px;
  margin-left: 50px;
  word-break: break-all;
}
.event-message .event-message__thumb {
  width: 50px;
  height: 50px;
  float: right;
  padding: 5px;
}
.event-review .event-review__introduction {
  text-align: center;
  margin-bottom: 20px;
}
.event-review .event-review__notes {
  margin-bottom: 15px;
}
.event-review table.event-review__rank {
  width: 100%;
  margin-bottom: 15px;
}
.event-review table.event-review__rank th {
  text-align: center;
}
.event-review table.event-review__rank td {
  text-align: center;
}
.event-review .event-review__submit {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 40px;
  border-bottom: 1px solid grey;
}
.event-review .event-review__header .event-review__title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.event-review .event-review__header .event-review__notes {
  text-align: right;
}
.event-review .event-review__body .event-review__schedule {
  font-size: larger;
  font-weight: bold;
  margin-bottom: 15px;
}
.event-review .event-review__body .event-review__suppliers {
  margin-bottom: 15px;
}
.event-review .event-review__body .event-review__parties {
  margin-bottom: 15px;
}
.event-review .event-review__body .event-review__message {
  margin-bottom: 15px;
}
/*
* TraderPage
*/
.trader-item-container {
  clear: both;
  overflow: hidden;
}
.trader-item-container .trader-item-title {
  float: left;
  font-size: 17px;
  width: 60%;
  padding: 20px 10px;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
}
.trader-item-container .trader-item-rank {
  float: left;
  width: 15%;
  padding: 20px 5px;
  display: table;
}
.trader-item-container .trader-item-rank .trader-item-rank__fav {
  font-size: 18px;
  color: #FF4081;
  display: table-cell;
  text-align: center;
}
.trader-item-container .trader-item-rank .trader-item-rank__score {
  display: table-cell;
  text-align: center;
}
.trader-item-container .trader-item-icon {
  float: right;
  padding: 10px 5px;
  width: 60px;
}
.c-list .trader-list__item.c-list__item {
  padding: 0px 10px;
}
.trader-detail .trader-detail__title {
  width: 100%;
  font-size: 17px;
  font-weight: bold;
  background: white;
  text-align: center;
  margin: 0px;
  padding: 15px 0px;
}
.trader-detail .trader-detail__header--top {
  height: 60px;
  position: relative;
}
.trader-detail .trader-detail__mv {
  position: absolute;
  width: 100%;
  height: 120px;
  text-align: center;
}
.trader-detail .trader-detail__header--bottom {
  background: white;
  height: 90px;
}
.trader-detail table.trader-detail__rank {
  width: 100%;
  background: white;
  padding: 15px 90px 15px 15px;
  text-align: center;
  table-layout: fixed;
}
.trader-detail table.trader-detail__rank th {
  font-size: 18px;
  color: #FF4081;
  text-align: center;
}
.trader-detail table.trader-detail__rank td {
  font-size: smaller;
  text-align: center;
}
.trader-detail .trader-detail__body {
  background: white;
  width: 100%;
  padding: 15px;
  display: table;
}
.trader-detail .trader-detail__body h2 {
  font-size: 18px;
  text-align: center;
}
.trader-detail .trader-detail__body dl.trader-detail__content {
  display: table-row;
}
.trader-detail .trader-detail__body dl.trader-detail__content dt {
  padding: 10px 5px;
  display: table-cell;
}
.trader-detail .trader-detail__body dl.trader-detail__content dd {
  padding: 10px 5px;
  display: table-cell;
}
.trader-add_form__container .trader-add_form__list dd {
  width: 270px;
  border-bottom: 1px solid #818181;
  margin-left: 30px;
  padding: 5px 10px;
}
.trader-add_form__container .trader-add_form__list dd input:not([type=checkbox]):not([type=radio]) {
  width: 270px;
  background: transparent;
  border: none;
}
.trader-add_form__container .trader-add_form__list .trader-add_list-form__user-tel {
  text-align: center;
  border: none;
}
.trader-add_form__container .trader-add_form__list textarea {
  background: none;
  border: none;
}
.trader-add_form__container .trader-add_form__submit {
  text-align: center;
}
/*
* UsersPage
*/
.users-list .users-list__item {
  margin-left: -15px;
  margin-right: -15px;
}
.users-item-container {
  clear: both;
  overflow: hidden;
}
.users-item-container .users-item-main {
  float: left;
  width: 65%;
}
.users-item-container .users-item-title {
  font-size: 17px;
  padding: 5px 0px;
}
.users-item-container .users-item-icon {
  float: right;
  width: 60px;
}
.users-invite_form .users-invite_form__introduction {
  position: relative;
  height: 240px;
}
.users-invite_form .users-invite_form__text {
  position: absolute;
  text-align: center;
  top: 25%;
  bottom: 25%;
  left: 25%;
  right: 25%;
}
.users-invite_form .users-invite_form__form {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 30px;
}
.users-invite_form .users-invite_form__form input {
  width: 100%;
  padding: 20px 0px;
  font-size: 40px;
  text-align: center;
  border: 8px solid darkgrey;
  border-radius: 5px;
}
.users-invite_form .users-invite_form__submit {
  text-align: center;
}
.users-add_form__container .users-add_form__list dd {
  width: 270px;
  border-bottom: 1px solid #818181;
  margin-left: 30px;
  padding: 5px 10px;
}
.users-add_form__container .users-add_form__list dd input:not([type=checkbox]):not([type=radio]) {
  width: 270px;
  background: transparent;
  border: none;
}
.users-add_form__container .users-add_form__list .users-add_list-form__user-tel {
  text-align: center;
  border: none;
}
.users-add_form__container .users-add_form__list textarea {
  background: none;
  border: none;
}
.users-add_form__container .users-add_form__submit {
  text-align: center;
}
/*
* ApartmentsPage
*/
.apartments-list .apartments-list__item {
  clear: both;
  overflow: hidden;
}
.apartments-list .apartments-list__item .apartments-item-num {
  float: left;
}
.apartments-list .apartments-list__item .apartments-item-batch {
  width: 30px;
  text-align: center;
  color: white;
  background: #2377D9;
  border: 5px solid #2377D9;
  border-radius: 15px;
  margin-top: 10px;
}
.apartments-list .apartments-list__item .apartments-item-title {
  float: left;
  padding-left: 15px;
  line-height: 46px;
}
.apartments-list .apartments-list__item .apartments-item-ranktitle {
  float: left;
  padding-left: 15px;
}
.apartments-list .apartments-list__item .apartments-item-icon {
  float: right;
  margin-top: 5px;
}
.apartments-list .apartments-list__item .apartments-item-rank {
  float: left;
  width: 50px;
  padding: 20px 5px;
  display: table;
}
.apartments-list .apartments-list__item .apartments-item-rank__fav {
  font-size: 18px;
  color: #FF4081;
  display: table-cell;
  text-align: center;
}
.apartments-list .apartments-list__item .apartments-item-rank__score {
  display: table-cell;
  text-align: center;
}
.apartments-detail .apartments-detail__title {
  width: 100%;
  font-size: 17px;
  font-weight: bold;
  background: white;
  text-align: center;
  margin: 0px;
  padding: 15px 0px;
}
.apartments-detail .apartments-detail__header--top {
  height: 60px;
  position: relative;
}
.apartments-detail .apartments-detail__mv {
  position: absolute;
  width: 100%;
  height: 120px;
  text-align: center;
}
.apartments-detail .apartments-detail__header--bottom {
  background: white;
  height: 90px;
}
.apartments-detail table.apartments-detail__rank {
  width: 100%;
  background: white;
  padding: 15px 90px 15px 15px;
  text-align: center;
  table-layout: fixed;
}
.apartments-detail table.apartments-detail__rank th {
  font-size: 18px;
  color: #FF4081;
  text-align: center;
}
.apartments-detail table.apartments-detail__rank td {
  font-size: smaller;
  text-align: center;
}
.apartments-detail .apartments-detail__body {
  background: white;
  width: 100%;
  padding: 15px;
  display: table;
}
.apartments-detail .apartments-detail__body h2 {
  font-size: 18px;
  text-align: center;
}
.apartments-detail .apartments-detail__body dl.apartments-detail__content {
  display: table-row;
}
.apartments-detail .apartments-detail__body dl.apartments-detail__content dt {
  padding: 10px 5px;
  display: table-cell;
}
.apartments-detail .apartments-detail__body dl.apartments-detail__content dd {
  padding: 10px 5px;
  display: table-cell;
}
/*
* AccountsPage
*/
.accounts-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  list-style: none;
  background: white;
}
.accounts-nav__item {
  width: calc(33.33333333%);
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 85%;
}
.accounts-nav__item--active {
  color: #004C6E;
  background: white;
}
.accounts-nav__item--inactive {
  color: white;
  background: #818181;
}
.accounts-nav__item:nth-of-type(2) {
  border-left: solid 1px white;
  border-right: solid 1px white;
}
.accounts-total {
  padding: 15px;
  background: white;
}
.accounts-item-amount {
  color: #004C6E;
}
.accounts-item-price {
  font-size: 27px;
  font-weight: bold;
  text-align: right;
}
.accounts-history {
  font-size: 17px;
  font-weight: bold;
  color: #004C6E;
}
.accounts-list__item {
  clear: both;
  overflow: hidden;
}
.accounts-list__item .accounts-item-date {
  width: 120px;
  line-height: 40px;
  float: left;
}
.accounts-list__item .accounts-item-status {
  width: 55%;
  font-size: smaller;
  line-height: 40px;
  float: left;
}
.accounts-list__item .accounts-item-amount {
  font-size: 27px;
  background: white;
  float: right;
}
.accounts-list__item .accounts-item__title {
  width: 100px;
  line-height: 24px;
  float: left;
  color: #004C6E;
  font-weight: bold;
}
.accounts-list__item .accounts-item__date {
  float: right;
  padding-right: 2px;
  position: relative;
  color: #004C6E;
}
.accounts-list__item .accounts-item__date:after {
  content: '';
  display: inline-block;
  position: absolute;
  right: -5px;
  top: 35%;
  width: 8px;
  height: 8px;
  border-top: 2px solid #2377D9;
  border-right: 2px solid #2377D9;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.accounts-list__item .accounts-item__category {
  float: right;
  padding-right: 5px;
  position: relative;
  color: #004C6E;
}
.accounts-list__item .accounts-item__category:after {
  content: '';
  display: inline-block;
  position: absolute;
  right: -5px;
  top: 35%;
  width: 8px;
  height: 8px;
  border-top: 2px solid #2377D9;
  border-right: 2px solid #2377D9;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.accounts-list__item .accounts-item__input {
  width: 250px;
  border: none;
  padding-right: 5px;
  text-align: right;
  color: #004C6E;
}
.accounts-list__item .accounts-item__input::-webkit-input-placeholder {
  color: #004C6E;
}
.accounts-list__item .accounts-item__input:-ms-input-placeholder {
  color: #004C6E;
}
.accounts-list__item .accounts-item__input::-moz-placeholder {
  color: #004C6E;
}
.accounts-list__item .accounts-item__select option {
  color: #004C6E;
}
.accounts-list__item .accounts-nav__item--active {
  background: white;
}
.accounts-list__item .accounts-nav__item--inactive {
  background: white;
}
/*
* ContactPage
*/
.contact_form .contact_form__introduction {
  position: relative;
  height: 120px;
}
.contact_form .contact_form__text {
  position: absolute;
  text-align: center;
  top: 25%;
  bottom: 25%;
  left: 25%;
  right: 25%;
}
.contact_form .contact_form__form {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 50px;
}
.contact_form .contact_form__form input {
  width: 100%;
  padding: 5px;
  font-size: 14px;
  text-align: left;
  border: 8px solid darkgrey;
  border-radius: 5px;
}
.contact_form .contact_form__textarea {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 10px;
}
.contact_form .contact_form__submit {
  text-align: center;
  margin-left: -15px;
  margin-right: -15px;
}
/*
* Modules
*/
.c-list .c-list__item {
  background: white;
  display: block;
  padding: 10px;
  margin-bottom: 10px;
}
.c-list__item.selected {
  background-color: #FCC979;
}
.c-btn-area__large {
  width: 100%;
  text-align: center;
}
.c-btn {
  border: 1px solid #2377D9;
  border-radius: 5px;
  margin: 5px;
  text-align: center;
}
.c-btn--max {
  width: 100%;
  padding: 16px 0;
  border: none;
  text-align: center;
}
.c-btn--large {
  width: 79.5%;
  height: 50px;
}
.c-btn--medium {
  width: 150px;
  height: 50px;
}
.c-btn--small {
  width: 44%;
  height: 40px;
}
.c-btn--xsmall {
  width: 60px;
  padding: 0 5px;
  margin: 0;
  font-size: smaller;
}
.c-btn--blue {
  background-color: #2377D9;
  color: white;
}
.c-btn--skyblue {
  background-color: #00AFFF;
  border-color: #00AFFF;
  color: white;
}
.c-btn--red {
  background-color: #D81921;
  color: white;
}
.c-btn--orange {
  background-color: #FFB100;
  border-color: #FFB100;
  color: white;
}
.c-btn--white {
  background-color: white;
  color: #2377D9;
}
.c-btn--darkblue {
  background-color: #004C6E;
  border-color: #004C6E;
  color: white;
}
.c-btn--select {
  background: #818181;
  border-color: #818181;
}
/* 吹き出し本体 */
.c-balloon--container {
  position: relative;
  width: 0px;
  height: 0px;
}
.c-balloon--you {
  position: relative;
  padding: 20px;
  background-color: darkgrey;
  color: #ffffff;
  border-radius: 10px;
}
/* 色付きの半円 */
.c-balloon__parts--you::before {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
  left: 0px;
  top: -10px;
  border-left: 20px solid darkgray;
  border-top: 20px solid darkgray;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
/* 白い半円 */
.c-balloon__parts--you::after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
  left: -15px;
  top: 0px;
  border-left: 20px solid #FFF9EB;
  border-top: 20px solid #FFF9EB;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
/* 吹き出し本体 */
.c-balloon--me {
  position: relative;
  padding: 20px;
  background-color: #2377D9;
  color: #ffffff;
  border-radius: 10px;
}
/* 色付きの半円 */
.c-balloon__parts--me::before {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
  left: 190px;
  top: -10px;
  border-left: 20px solid #2377D9;
  border-top: 20px solid #2377D9;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
/* 白い半円 */
.c-balloon__parts--me::after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
  left: 205px;
  top: 0px;
  border-left: 20px solid #FFF9EB;
  border-top: 20px solid #FFF9EB;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
.c-input--medium {
  width: 100%;
  padding: 20px 0;
  font-size: 17px;
  text-align: center;
  border: 8px solid darkgrey;
  border-radius: 5px;
}
.c-input--large {
  width: 100%;
  padding: 20px 25%;
  font-size: 40px;
  text-align: center;
  border: 8px solid darkgrey;
  border-radius: 5px;
}
/* Radio css */
/*css c-radio*/
.c-radio-input {
  display: none;
}
.c-radio-input + label {
  padding-left: 10px;
  position: relative;
  margin-right: 20px;
}
.c-radio-input + label::before {
  content: "";
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  border: 1px solid #999;
  border-radius: 50%;
}
.c-radio-input:checked + label {
  color: #009a9a;
}
.c-radio-input:checked + label::after {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 13px;
  width: 9px;
  height: 9px;
  background: #FF5800;
  border-radius: 50%;
}
.c-input {
  width: 100%;
  padding: 20px 25%;
  font-size: 40px;
  text-align: center;
  border: 8px solid darkgrey;
  border-radius: 5px;
}
.c-textarea {
  width: 100%;
  padding: 20px 0px;
  font-size: 14px;
  text-align: center;
  border: 8px solid darkgrey;
  border-radius: 5px;
}
.c-comments_submit_container {
  background: darkgrey;
  padding: 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  position: fixed;
  bottom: 0px;
  width: 100%;
}
.c-comments_submit_text {
  display: inline-block;
  width: 100%;
  border-radius: 5px;
}
.c-comments_submit_btn {
  display: inline-block;
  padding: 2px 0px 2px 10px;
}
.c-favstar-container {
  position: absolute;
  top: 15px;
  right: 10%;
  text-align: center;
}
.c-fabstar-item {
  font-size: 18px;
}
.c-fabstar-item.active {
  color: #FCC979;
}
.c-required {
  color: red;
}
img.c-circle {
  border-radius: 50%;
}
/** ModalWindow */
#modal-overlay {
  z-index: 1001;
  display: none;
  width: 100%;
  height: 120%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
}
#modal-overlay-inner {
  z-index: 1003;
  display: none;
  width: 100%;
  height: 120%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
}
#modal-content {
  width: 50%;
  margin: 1.5em auto 0;
  padding: 10px 20px;
  border: 2px solid #aaa;
  background: #fff;
  z-index: 2;
  position: fixed;
  display: none;
}
.container.modal-content-container {
  padding: 0;
}
#modal-content-add {
  width: 90%;
  height: 90%;
  margin: 1.5em auto 0;
  padding: 10px 20px;
  border: 2px solid #aaa;
  background: #FFF9EB;
  z-index: 1002;
  position: fixed;
  left: 5%;
  right: 5%;
  display: none;
  overflow-y: scroll;
}
#modal-content-traders {
  width: 90%;
  max-height: 75%;
  margin: 1.5em auto 0;
  padding: 10px 20px;
  border: 2px solid #aaa;
  background: #FFF9EB;
  z-index: 1002;
  position: fixed;
  left: 5%;
  right: 5%;
  display: none;
  overflow-y: scroll;
}
#modal-content-users {
  width: 90%;
  max-height: 75%;
  margin: 1.5em auto 0;
  padding: 10px 20px;
  border: 2px solid #aaa;
  background: #FFF9EB;
  z-index: 1002;
  position: fixed;
  left: 5%;
  right: 5%;
  display: none;
  overflow-y: scroll;
}
#modal-content-cal {
  width: 340px;
  height: 250px;
  margin: 1.5em auto 0;
  padding: 10px 20px;
  border: 2px solid #aaa;
  background: #fff;
  z-index: 1002;
  position: fixed;
  left: 5%;
  right: 5%;
  top: 25%;
  bottom: 25%;
  display: none;
  overflow-y: scroll;
}
#modal-content-img {
  width: 100%;
  height: 100%;
  margin: 1.5em auto 0;
  padding: 10px 20px;
  background: transparent;
  z-index: 1002;
  position: fixed;
  left: 0;
  right: 0;
  top: 25%;
  bottom: 25%;
  display: none;
  overflow-y: scroll;
}
.modal-p {
  margin-top: 1em;
}
.modal-p:first-child {
  margin-top: 0;
}
.button-link {
  color: #00f;
  text-decoration: underline;
}
.button-link:hover {
  cursor: pointer;
  color: #f00;
}
/** Modal Calender */
table.calendar {
  width: 100%;
  text-align: center;
  table-layout: fixed;
}
table.calendar th {
  text-align: center;
}
table.calendar tbody td.sun,
table.calendar tbody tr th:nth-of-type(1) {
  color: #FF3636;
}
table.calendar tbody td.sat,
table.calendar tbody tr th:nth-of-type(7) {
  color: #0099FF;
}
#suggest {
  position: absolute;
  background-color: #FFFFFF;
  border: 1px solid #CCCCFF;
  font-size: 90%;
  width: 200px;
}
#suggest div {
  display: block;
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
}
#suggest div.select {
  /* キー上下で選択した場合のスタイル */
  color: #FFFFFF;
  background-color: #3366FF;
}
#suggest div.over {
  /* マウスオーバ時のスタイル */
  background-color: #99CCFF;
}
