@font-normal: 14px;  @font-large: 18px;
@cream: #FFF9EB;
@blue-grey: #004B6D; @light-blue:#2377D9;


body {
  font-family: "Raleway", sans-serif;
  font-size: @font-normal;
  line-height: 1.6;
  color: #636b6f;
  background-color: @cream;
}
ul{
  list-style: none;
  padding:0;
  margin:0;
}
p{
  padding:0;
  margin:0;
}


.top{
  height:667px;
  position: relative;
  .top__main-figure{
    width:100%;
    text-align: center;
    position: absolute;
    top:25%;
  }
}

/*
* EventPage
*/
.event-list{
  .event-list__item{
    background: white;
    display: block;
    padding: 10px;
    margin-bottom:10px;
    height:100px;
  }
}

#event-form{
  h1{
    font-size:12px;
    text-align: center;
  }
}
.event-form{
  width: 320px;
  height: 30px;
  display: table;
  border-bottom: 1px solid @blue-grey;
  .event-form__title{
    display: table-cell;
  }
  .event-form__input{
    display: table-cell;
    input{
      width: 100%;
      background-color: transparent;
      border: none;
    }
  }
}
.event-detail{
  .event-detail__header{
    .event-detail__title{
      font-size:@font-large;
      text-align: center;
    }
    .event-detail__notes{
      font-size:smaller;
      text-align: right;
    }
    padding-bottom: 15px;
  }
  .event-detail__body{
    padding: 15px 0;
    .event-detail__schedule{
      padding: 0 30px;
      margin: 10px 0;
    }
    .event-detail__suppliers{
      padding: 0 30px;
      margin: 10px 0;
    }
    .event-detail__parties{
      padding: 0 30px;
      margin: 10px 0;
    }
    .event-detail__message{
      padding: 0 30px;
      margin: 10px 0;
    }
    .event-detail__picture{
      margin-top: 30px;
    }
  }
  .event-detail__footer{
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

/*
* Modules
*/
.c-item-container{
  clear: both;
  overflow: hidden;
  .c-item-thumb{
    width:88px;
    height:88px;
    float: left;
  }
  .c-item-main{
    padding-left: 10px;
    float: left;
    .c-item-main__header{
      clear: both;
      overflow: hidden;
      .c-item-main__title {
        width: 210px;
        line-height:1.2em;
        font-size:larger;
        font-weight:bold;
        float: left;
        small{
          font-weight:normal;
        }
      }
      .c-item-main__icon{
        width:50px;
        height:50px;
        float: right;
      }
    }
    .c-item-main__detail{

    }
    .c-item-main__footer{
      font-size: smaller;
      text-align: right;
    }
  }
}

.c-btn-area__large{
  width:100%;
  text-align: center;
}
.c-btn{
  border: 1px solid @light-blue;
  border-radius: 5px;
  padding: 16px 0;
  margin: 15px;
}
.c-btn--large{
  width:270px;
  height:50px;
}
.c-btn--small{
  width:150px;
  height:50px;
}
.c-btn--blue{
  background-color: @light-blue;
  color: white;
}
.c-btn--white{
  background-color: white;
  color: @light-blue;
}
