@font-normal: 14px;  @font-middle: 17px; @font-large: 18px;
@cream: #FFF9EB; @darkgrey:#818181; @bordergrey:#686868;
@blue-grey: #004B6D; @light-blue:#2377D9; @orange:#FFB100; @red-orange:#FF5800; @dark-blue:#004C6E; @pale-blue:#004C6E;
@red: #D81921; @pink: #FF4081;


body {
  font-family: "Raleway", sans-serif;
  font-size: @font-normal;
  line-height: 1.6;
  color: #636b6f;
  background-color: @cream;
}
ul{
  list-style: none;
  padding:0;
  margin:0;
}
p{
  padding:0;
  margin:0;
}
a{
  color: inherit;
}
a:hover,a:focus{
  color:inherit;
  text-decoration: none;
}
input[type="file"]{
  display: none;
}

.top{
  height:667px;
  position: relative;
  .top__main-figure{
    width:100%;
    text-align: center;
    position: absolute;
    top:25%;
  }
}
/*
* GNav
*/
nav.navbar{
  margin-bottom:0px;
}
nav.navbar-static-top{
  position: fixed;
  width:100%;
}
nav.navbar-static-bottom{
  position: fixed;
  bottom:0px;
  width:100%;
}
nav.navbar {
  background: black;
}
.navbar-header{
  .navbar-brand {
    width:70%;
    text-align: center;
    float: left;
    padding: 14px 15px;
    font-size: 18px;
    line-height: 22px;
    height: 50px;
    color: white;
  }
  .navbar-left {
    width:15%;
    float: left;
    text-align: center;
    padding: 6px 15px;
    font-size: 18px;
    line-height: 22px;
    height: 50px;
    color: white;
    small {
      font-size:60%;
    }
  }
  .navbar-right {
    width:15%;
    float: right;
    text-align: center;
    padding: 6px 0px;
    font-size: 18px;
    line-height: 22px;
    height: 50px;
    color: white;
    small {
      font-size:60%;
    }
  }
}
.navbar-footer{
  margin-right: -15px;
  margin-left: -15px;
  padding-top:5px;
  color: white;
  font-size:85%;
  .navbar-footer__list{
    width:100%;
    display:flex;
    justify-content: center;
    padding:0;
    list-style: none;
    .navbar-footer__tab{
      width:calc(100% / 3);
      text-align: center;
      border-bottom: 5px solid black;
    }
    .navbar-footer__tab--active{
      border-bottom:5px solid white;
    }
    .navbar-footer__tab--active li{
      position: relative;
    }
    .navbar-footer__tab--active li:after {
      content: '';
      display: inline-block;
      position: absolute;
      width: 0;
      height: 0;
      border-top: 8px solid white;
      border-right: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 5px solid transparent;
      right:5px;
      top:25%;
      bottom:25%;
    }
    a:hover, a:focus{
      color: inherit;
      text-decoration: none;
    }
  }
}
.navbar-emergencycontact{
  width:100%;
}
.navbar-accountscomplete{
  width:100%;
}
#container{
  padding-top:90px;
  padding-bottom:90px;
}
#container-menu{
  padding-top:10px;
  padding-bottom:90px;
}
/*
* Menu
*/
.menu-header{
  display: table;
  width:100%;
  background: white;
  padding:0px 10px;
  clear: both;
  overflow: hidden;
  .menu-header__thumb{
    display: table-cell;
    width:15%;
  }
  .menu-header__title{
    display: table-cell;
  }
}
.menu-list__title{
  font-size:17px;
  color: @dark-blue;
}
.menu-list{
  margin-left:-5px;
  margin-right:-5px;
  background: white;
  .menu-list__item{
    margin-left:15px;
    margin-right:15px;
  }
  .c-list__item.menu-list__item{
    margin-bottom:0px;
  }
  a:not(:last-child) .menu-list__item{
    border-bottom:1px solid @bordergrey;
  }
}
.menu-list:last-of-type{
  margin-top: 30px;
}

/*
* EventPage
*/
#event-form{
  h1{
    font-size:12px;
    text-align: center;
  }
}
.event-list__item{
  height: 100px;
}
.event-item-container{
  clear: both;
  overflow: hidden;
  .event-item-thumb{
    width:88px;
    height:88px;
    float: left;
  }
  .event-item-main{
    padding-left: 10px;
    float: left;
    .event-item-main__header{
      clear: both;
      overflow: hidden;
      .event-item-main__title {
        width: 210px;
        line-height:1.2em;
        font-size:larger;
        font-weight:bold;
        float: left;
        word-break: break-all;
        small{
          font-weight:normal;
        }
      }
      .event-item-main__icon{
        width:50px;
        height:50px;
        float: right;
      }
    }
    .event-item-main__detail{

    }
    .event-item-main__footer{
      font-size: smaller;
      text-align: right;
    }
  }
}

.event-form{
  width: 320px;
  height: 30px;
  display: table;
  border-bottom: 1px solid @blue-grey;
  .event-form__title{
    display: table-cell;
  }
  .event-form__input{
    display: table-cell;
    input{
      width: 100%;
      background-color: transparent;
      border: none;
    }
  }
}
.event-detail{
  .event-detail__header{
    .event-detail__title{
      font-size:@font-large;
      font-weight: bold;
      text-align: center;
    }
    .event-detail__notes{
      font-size:smaller;
      text-align: right;
    }
    padding-bottom: 15px;
  }
  .event-detail__body{
    padding: 15px 0;
    .event-detail__schedule{
      font-weight: bold;
      padding: 0 30px;
      margin: 10px 0;
    }
    .event-detail__suppliers{
      padding: 0 30px;
      margin: 10px 0;
    }
    .event-detail__parties{
      padding: 0 30px;
      margin: 10px 0;
    }
    .event-detail__message{
      padding: 0 30px;
      margin: 10px 0;
    }
    .event-detail__picture{
      margin-top: 30px;
    }
  }
  .event-detail__footer{
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.event-message{
  .event-message__item{
    margin-bottom: 10px;
    clear: both;
    overflow: hidden;
  }
  .event-message__body--you{
    width:290px;
    margin-bottom: 30px;
    float: left;
    word-break: break-all;
  }
  .event-message__body--me{
    width:290px;
    margin-bottom: 30px;
    margin-left:50px;
    word-break: break-all;
  }
  .event-message__thumb{
    width: 50px;
    height:50px;
    float: left;
  }
}
.event-review{
  .event-review__introduction{
    text-align: center;
    margin-bottom:20px;
  }
  .event-review__notes{
    margin-bottom: 15px;
  }
  table.event-review__rank{
    width:100%;
    margin-bottom:15px;
    th{
      text-align: center;
    }
    td{
      text-align: center;
    }
  }
  .event-review__submit{
    text-align: center;
    padding-top:15px;
    padding-bottom: 40px;
    border-bottom: 1px solid grey;
  }
  .event-review__header{
    .event-review__title{
      font-size: @font-large;
      font-weight: bold;
      text-align: center;
    }
    .event-review__notes{
      text-align: right;

    }
  }
  .event-review__body{
    .event-review__schedule{
      font-size:larger;
      font-weight:bold;
      margin-bottom: 15px;
    }
    .event-review__suppliers{
      margin-bottom: 15px;
    }
    .event-review__parties{
      margin-bottom: 15px;
    }
    .event-review__message{
      margin-bottom: 15px;
    }
  }
}

/*
* TraderPage
*/
.trader-item-container{
  clear: both;
  overflow: hidden;
  .trader-item-title{
    float: left;
    font-size: @font-middle;
    width:240px;
    padding: 20px;
  }
  .trader-item-rank{
    float: left;
    width:50px;
    padding: 20px 5px;
    display: table;
    .trader-item-rank__fav{
      font-size:@font-large;
      color: @pink;
      display: table-cell;
      text-align: center;
    }
    .trader-item-rank__score{
      display: table-cell;
      text-align: center;
    }
  }
  .trader-item-icon{
    float: right;
    padding:5px;
    width:60px;
  }
}
.c-list .trader-list__item.c-list__item{
  padding: 0px 10px;
}
.trader-detail{
  .trader-detail__title{
    width:100%;
    font-size: @font-middle;
    font-weight:bold;
    background: white;
    text-align: center;
    margin:0px;
    padding: 15px 0px;
  }
  .trader-detail__header--top{
    height:60px;
    position: relative;
  }
  .trader-detail__mv{
    position: absolute;
    width:100%;
    height:120px;
    text-align: center;
  }
  .trader-detail__header--bottom{
    background: white;
    height:90px;
  }
  table.trader-detail__rank{
    width:100%;
    background: white;
    padding: 15px 90px 15px 15px;
    text-align: center;
    th{
      font-size:@font-large;
      color: @pink;
    }
    td{
      font-size: smaller;
    }
  }
  .trader-detail__body{
    background: white;
    width:100%;
    padding:15px;
    display: table;
    h2{
      font-size: @font-large;
      text-align: center;
    }
    dl.trader-detail__content {
      display: table-row;
      dt{
        padding: 10px 5px;
        display: table-cell;
      }
      dd{
        padding: 10px 5px;
        display: table-cell;
      }
    }
  }
}

/*
* UsersPage
*/
.users-list{
  .users-list__item{
    margin-left:-15px;
    margin-right:-15px;
  }
}

.users-item-container{
  clear: both;
  overflow: hidden;
  .users-item-main{
    float: left;
    width:240px;
  }
  .users-item-title{
    font-size: @font-middle;
    padding: 5px 0px;
  }
  .users-item-batch{
  }
  .users-item-icon{
    float: right;
    width:60px;
  }
}
.users-invite_form{
  .users-invite_form__introduction{
    position: relative;
    height:240px;
  }
  .users-invite_form__text{
    position: absolute;
    text-align: center;
    top:25%;
    bottom:25%;
    left:25%;
    right:25%;
  }
  .users-invite_form__form{
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 30px;
    input{
      width:100%;
      padding:20px 0px;
      font-size: 40px;
      text-align: center;
      border:8px solid darkgrey;
      -webkit-border-radius:5px;
      -moz-border-radius:5px;
      border-radius:5px;
    }
  }
  .users-invite_form__submit{
    text-align: center;
  }
}
.users-add_form__container{
  .users-add_form__list{
    dl{

    }
    dt{

    }
    dd{
      width: 270px;
      border-bottom: 1px solid #818181;
      margin-left: 30px;
      padding: 5px 10px;
    }
    dd input:not([type=checkbox]):not([type=radio]){
      width:270px;
      background: transparent;
      border: none;
    }
    .users-add_list-form__user-tel{
      text-align: center;
      border: none;
    }
  }
}

/*
* ApartmentsPage
*/
.apartments-list{
  .apartments-list__item{
    clear: both;
    overflow: hidden;
    .apartments-item-num{
      float: left;
    }
    .apartments-item-batch{
      width:30px;
      text-align: center;
      color: white;
      background: @light-blue;
      border:5px solid @light-blue;
      -webkit-border-radius:15px;
      -moz-border-radius:15px;
      border-radius:15px;
      margin-top:10px;
    }
    .apartments-item-title{
      float: left;
      padding-left:15px;
    }
    .apartments-item-icon{
      float: right;
      margin-top:5px;
    }
    .apartments-item-rank {
      float: left;
      width: 50px;
      padding: 20px 5px;
      display: table;
    }
    .apartments-item-rank__fav{
      font-size:@font-large;
      color: @pink;
      display: table-cell;
      text-align: center;
    }
    .apartments-item-rank__score{
      display: table-cell;
      text-align: center;
    }
  }
}
.apartments-detail{
  .apartments-detail__title{
    width:100%;
    font-size: @font-middle;
    font-weight:bold;
    background: white;
    text-align: center;
    margin:0px;
    padding: 15px 0px;
  }
  .apartments-detail__header--top{
    height:60px;
    position: relative;
  }
  .apartments-detail__mv{
    position: absolute;
    width:100%;
    height:120px;
    text-align: center;
  }
  .apartments-detail__header--bottom{
    background: white;
    height:90px;
  }
  table.apartments-detail__rank{
    width:100%;
    background: white;
    padding: 15px 90px 15px 15px;
    text-align: center;
    th{
      font-size:@font-large;
      color: @pink;
    }
    td{
      font-size: smaller;
    }
  }
  .apartments-detail__body{
    background: white;
    width:100%;
    padding:15px;
    display: table;
    h2{
      font-size: @font-large;
      text-align: center;
    }
    dl.apartments-detail__content {
      display: table-row;
      dt{
        padding: 10px 5px;
        display: table-cell;
      }
      dd{
        padding: 10px 5px;
        display: table-cell;
      }
    }
  }
}
/*
* AccountsPage
*/
.accounts-nav{
  width:100%;
  display:flex;
  justify-content: center;
  padding:0;
  list-style: none;
  background: white;
}
.accounts-nav__item{
  width:calc(100% / 3);
  height:60px;
  line-height:60px;
  text-align: center;
  font-size:85%;
}
.accounts-nav__item--active{
  color: @dark-blue;
  background: white;
}
.accounts-nav__item--inactive{
  color: white;
  background: @darkgrey;
}
.accounts-nav__item:nth-of-type(2){
  border-left: solid 1px white;
  border-right: solid 1px white;
}
.accounts-total{
  padding:15px;
  background: white;
}
.accounts-item-amount{
  color:@dark-blue;
  font-size: 65%;
}
.accounts-item-price{
  font-size: 27px;
  font-weight:bold;
  text-align: right;
}
.accounts-history{
  font-size: 17px;
  font-weight:bold;
  color:@dark-blue;
}
.accounts-list__item{
  clear: both;
  overflow: hidden;
  .accounts-item-date{
    width:120px;
    line-height: 40px;
    float: left;
  }
  .accounts-item-status{
    width:90px;
    font-size: smaller;
    line-height: 40px;
    float: left;
  }
  .accounts-item-amount{
    font-size: 27px;
    background: white;
    float: right;
  }
  .accounts-item__title{
    width:100px;
    line-height:24px;
    float: left;
    color: @dark-blue;
    font-weight:bold;
  }
  .accounts-item__date{
    float: right;
    padding-right: 2px;
    position: relative;
    color: @pale-blue;
  }
  .accounts-item__date:after{
    content: '';
    display: inline-block;
    position: absolute;
    right: -5px;
    top: 35%;
    width: 8px;
    height: 8px;
    border-top: 2px solid #2377D9;
    border-right: 2px solid #2377D9;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .accounts-item__category{
    float: right;
    padding-right: 5px;
    position: relative;
    color: @pale-blue;
  }
  .accounts-item__category:after{
    content: '';
    display: inline-block;
    position: absolute;
    right: -5px;
    top: 35%;
    width: 8px;
    height: 8px;
    border-top: 2px solid #2377D9;
    border-right: 2px solid #2377D9;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .accounts-item__input{
    width:250px;
    border:none;
    padding-right: 5px;
    text-align: right;
    color: @pale-blue;
  }
  .accounts-item__input::-webkit-input-placeholder {
    color: @pale-blue;
  }
  .accounts-item__input:-ms-input-placeholder {
    color: @pale-blue;
  }
  .accounts-item__input::-moz-placeholder {
    color: @pale-blue;
  }
  .accounts-item__select option{
    color: @pale-blue;
  }
  .accounts-nav__item--active{
    background: white;
  }
  .accounts-nav__item--inactive{
    background: white;
  }
}
/*
* ContactPage
*/
.contact_form{
  .contact_form__introduction{
    position: relative;
    height:120px;
  }
  .contact_form__text{
    position: absolute;
    text-align: center;
    top:25%;
    bottom:25%;
    left:25%;
    right:25%;
  }
  .contact_form__form{
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 50px;
    input{
      width:100%;
      padding:5px;
      font-size: @font-normal;
      text-align: left;
      border:8px solid darkgrey;
      -webkit-border-radius:5px;
      -moz-border-radius:5px;
      border-radius:5px;
    }
  }
  .contact_form__textarea{
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 10px;
  }
  .contact_form__submit{
    text-align: center;
    margin-left:-15px;
    margin-right:-15px;
  }
}

/*
* Modules
*/
.c-list{
  .c-list__item{
    background: white;
    display: block;
    padding: 10px;
    margin-bottom:10px;
  }
}

.c-btn-area__large{
  width:100%;
  text-align: center;
}
.c-btn{
  border: 1px solid @light-blue;
  border-radius: 5px;
  padding: 16px 0;
  margin: 15px;
  text-align: center;
}
.c-btn--max{
  width:100%;
  padding: 16px 0;
  border:none;
  text-align: center;
}
.c-btn--large{
  width:270px;
  height:50px;
}
.c-btn--small{
  width:150px;
  height:50px;
}
.c-btn--xsmall{
  width:60px;
  padding:0 5px;
  margin:0;
  font-size:smaller;
}
.c-btn--blue{
  background-color: @light-blue;
  color: white;
}
.c-btn--red{
  background-color: @red;
  color: white;
}
.c-btn--orange{
  background-color: @orange;
  border-color: @orange;
  color: white;
}
.c-btn--white{
  background-color: white;
  color: @light-blue;
}
.c-btn--darkblue{
  background-color: @dark-blue;
  border-color: @dark-blue;
  color: white;
}
.c-btn--select{
  background: @darkgrey;
  border-color: @darkgrey;
}
/* 吹き出し本体 */
.c-balloon--container{
  position: relative;
  width:0px;
  height:0px;
}
.c-balloon--you{
  position: relative;
  padding: 20px;
  background-color: darkgrey;
  color: #ffffff;
  border-radius: 10px;
}
/* 色付きの半円 */
.c-balloon__parts--you::before{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
  left: 0px;
  top: -10px;
  border-left: 20px solid darkgray;
  border-top: 20px solid darkgray;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
/* 白い半円 */
.c-balloon__parts--you::after{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
  left: -15px;
  top: 0px;
  border-left: 20px solid @cream;
  border-top: 20px solid @cream;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
/* 吹き出し本体 */
.c-balloon--me{
  position: relative;
  padding: 20px;
  background-color: @light-blue;
  color: #ffffff;
  border-radius: 10px;
}
/* 色付きの半円 */
.c-balloon__parts--me::before{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
  left: 230px;
  top: -10px;
  border-left: 20px solid @light-blue;
  border-top: 20px solid @light-blue;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
/* 白い半円 */
.c-balloon__parts--me::after{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
  left: 245px;
  top: 0px;
  border-left: 20px solid @cream;
  border-top: 20px solid @cream;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
.c-input--large{
    width:100%;
    padding:20px 25%;
    font-size: 40px;
    text-align: center;
    border:8px solid darkgrey;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
/* Radio css */
/*css c-radio*/
.c-radio-input{
  display: none;
}
.c-radio-input + label{
  padding-left: 10px;
  position:relative;
  margin-right: 20px;
}
.c-radio-input + label::before{
  content: "";
  display: block;
  position: absolute;
  //top: 0;
  //left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #999;
  border-radius: 50%;
}
.c-radio-input:checked + label{
  color: #009a9a;
}
.c-radio-input:checked + label::after{
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 13px;
  width: 9px;
  height: 9px;
  background: @red-orange;
  border-radius: 50%;
}
.c-input{
    width:100%;
    padding:20px 25%;
    font-size: 40px;
    text-align: center;
    border:8px solid darkgrey;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.c-textarea{
  width:100%;
  padding:20px 0px;
  font-size: @font-normal;
  text-align: center;
  border:8px solid darkgrey;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
}
.c-comments_submit_container{
  background: darkgrey;
  padding: 5px 10px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  position: fixed;
  bottom: 0px;
  width:100%;
}
.c-comments_submit_text{
  display: inline-block;
  width:100%;
  border-radius: 5px;
}
.c-comments_submit_btn{
  display: inline-block;
  padding-left: 10px;
}
